/* -----------------------------Global Styles-------------------------------- */
body{
    display : flex;
    flex-direction : row;
}

.font {
    font-family: 'Open Sans', sans-serif;
}
.hidden {
    display: none !important;
}
/* --------------------Nav Styles-------------------- */
.nav-header{
   font-weight: bold; 
   padding: 5px 0px 5px 15px;
   color: #E9E9F3;
}

.nav-body-label{
    font-weight: light;
    padding: 5px 0px 5px 15px;
    color: #BFBFDD;
    font-size: 14;
}

nav{
    background-color: #1F1F3D;
    margin: -8px 0px -8px -8px;
    width: 300px;
}

hr.nav{
    border: 1px solid #353567;
}

.nav-button{
    background-color: #5356A4;
    border: 1px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    color: #E9E9F3;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

/* ---------------Main Section Styles---------------- */
main {
    height: 100%;
    width: 100%;
    margin-right: -8px;
}

/* -------Idea Builder Styles------- */
.idea-builder{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    background-color: #A9AAD2;
    height: 350px;
    overflow : hidden;
    margin-top: -10px;
}

#title{
    width : 350px;
    height: 40px;
    border-width: 2px;
    border-color: #888abc;
    border-radius: 3px;
}

#body{
    height: 80px;
    width: 350px;
    border-width: 2px;
    border-color: #888abc;
    border-radius: 3px;
}

.builder-text{
    color: #1F1F3D;
    font-size: 16;
}

.builder-button{
    background-color:#353567;
    border: 1px;
    color:#E9E9F3;
    width: 350px;
    height: 40px;
    font-size : 18;
    border-width: 2px;
    border-color: #888abc;
    border-radius: 3px;
    cursor: pointer;
}
.disabled{
    background-color:#E9E9F3;
    color: #1F1F3D;
    cursor: not-allowed;
}

.search-button{
    width: 40px;
    height: 40px;
    border-width: 0px;
    border-radius: 3px 0px 0px 3px;
    background: url('./assets/search.svg') center no-repeat;
    background-color: #353567;
    background-size: 75% 75%;
    cursor: pointer;
}

.search-input{
    width: 312px;
    height: 40px;
    border-width: 2px;
    border-color: #888abc;
    font-size : 18;
    border-radius: 0px 3px 3px 0px;
    margin-left: -5px;
}

::placeholder {
    color: #888abc;
    font-size: 16;
}
/* -------Idea Viewer Styles------- */

.idea-viewer{
    background-color: #EAEAF4;
    margin-top: -16px;
    height: 58%;
}

.saved-ideas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
    padding: 20px;
}

.idea{
    height: 225px;
    width: 225px;
    background-color:#FFFFFF;
}

.idea-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F1F3D;
    height: 30px;
    border:solid #1F1F3D;
    border-width: 2px;
}

.star-img{
    width:32px;
}
.star-img-active {
    width: 32px;
}
.star-button{
    background-color:#1F1F3D;
    border:0px;
    cursor: pointer;
}

.star-button-active {
    background-color: #1F1F3D;
    border: 0px;
    cursor: pointer;
}

.x-img{
    width: 32px;
}
.x-button{
    background-color: #1F1F3D;
    border: 0px;
    cursor: pointer;
}

.idea-body {
    border-width: 5px;
    border-color: #1F1F3D;
    background-color: #FFFFFF;
    height: 160px;
    border:solid #1F1F3D;
    border-width: 2px;
}

.idea-footer{
    display:flex;
    flex-direction: row;
    background-color: #5356A4;
    color: #e9e9f3;
    height: 30px;
    border:solid #1F1F3D;
    border-width: 2px;
}

.idea-message{
    margin-left: 10px;
}

.idea-title{
    font-weight: bold;
    margin: 5px 0px 0px 10px;
}

.footer-p{
    margin-top: 3px;
}

.comment-img{
    width: 30px;
}
.comment-button{
    border : 0px;
    padding: 0px;
    background-color: #5356A4;
    cursor: pointer;
}